<%- if profile_owner? %>
  <div id='user-avatar-options'>
    <%= link_to t('.new_photo'), '#', id: 'upload-new-photo' %>

    <%= link_to t('.crop_photo'), '#', id: 'crop-photo', class: "#{current_user.avatar.present?? '' : 'hidden'}" %>
    <%= link_to t('.delete_photo'), user_avatar_path, method: 'delete',
            remote: true, id: 'delete-user-avatar', class: "#{current_user.avatar.present?? '' : 'hidden'}",
            data: { confirm: t('common.are_you_sure?') } %>
  </div>
<% end %>
