<div class='news-feed-entry'>
  <div class='author'>
    <div class='author-avatar'>
      <%= link_to image_tag(news_feed_entry.user.avatar.url(:thumb)), user_path(news_feed_entry.user) %>
    </div>

    <div class='author-name'>
      <%= link_to truncate(news_feed_entry.user.name, length: 20), user_path(news_feed_entry.user) %>
    </div>
  </div>

  <div class='content'>
    <%- if news_feed_entry.entry.is_a?(Photo) %>
      <div class='tip'> <%= t '.added_photo' %> </div>

      <%= link_to image_tag(news_feed_entry.entry.image.url(:thumb)), user_photo_path(news_feed_entry.user, news_feed_entry.entry) %>
    <% else %>
    <% end %>
  </div>
</div>

<hr class='clear-separator'>
