<div class='photo' data-id='<%= photo.id %>'>
  <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url(:large), class: 'gallery-item' %>

  <div class='hidden photo-meta'>
    <div class='photo-description'>
      <div class='view-photo'>
        <%= link_to icon_label('icon-camera', t('.view')), user_photo_path(@user || current_user, photo) %>
      </div>

      <%= photo.description %>
    </div>
  </div>
</div>
