<div id='photo'>
  <div id='image'>
    <%= image_tag @photo.image.url(:large) %>
  </div>

  <%- if @photo.description.present? %>
    <div id='description' class='well'>
      <%= @photo.description %>
    </div>
  <% end %>
</div>
