<div id='photo'>
  <%= link_to t('.album'), user_album_path(@photo.user, @photo.album.transliterated_name) %>

  <div id='image'>
    <%= image_tag @photo.image.url(:large) %>
  </div>

  <%- if @photo.description.present? %>
    <div id='description' class='well'>
      <%= @photo.description %>
    </div>
  <% end %>
</div>
