.hidden { display: none; }

.invisible { visibility: hidden; }

.inline { display: inline; }

.absolute { position: absolute; }

.error-text { color: $errorText; }

div.errors-container span {
    @extend .error-text;

    display: block;
}

div.heads-up {
    @extend .alert;
    @extend .alert-info;

    @extend .span6;
}

%non-decorated {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}
