.hidden { display: none; }

.invisible { visibility: hidden; }

.inline { display: inline; }

.absolute { position: absolute; }

.error-text { color: $errorText; }
.success-text { color: $successText; }

hr.clear-separator {
    clear: both;
}

div.errors-container span {
    @extend .error-text;

    display: block;
}

div.heads-up {
    @extend .alert;
    @extend .alert-info;

    @extend .span6;
}


