.hidden { display: none; }

.invisible { visibility: hidden; }

.inline { display: inline; }

.absolute { position: absolute; }

.error-text { color: $errorText; }

div.heads-up {
    @extend .alert;
    @extend .alert-info;

    @extend .span6;
}
