// Place all the styles related to the user_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'jcrop';

body#user-details {

    form#edit-user-details {
        div#current-avatar {
            margin: 0 0 50px 180px;
        }

        div.heads-up {
            margin-left: 180px;
        }

        div.select2-container {
            width: 220px;
        }

        input#country-auto-completion, input#city-auto-completion {
            display: none;
        }
    }
}
