// Place all the styles related to the users_search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#users-search {
    div#users-search-container {
        border-right: 1px solid $grayLighter;

        input#country-auto-completion, input#city-auto-completion {
            display: none;
        }
    }

    div#users-search-results {
        margin-left: 25px;
    }

    h3#search-results-count {
        display: none;

        font-size: 18px;
        color: $grayLight;
        margin: 15px 0 25px 15px;
    }

    div.user {
        margin-bottom: 10px;
        clear: both;

        div.user-info {
            margin-left: 5px;
        }
    }

}
