<p>Здравствуйте!</p>

<p>Кто-то заявляет, что владелец этого E-mail нуждается в восстановлении пароля</p>
<p>Пожалуйста, перейдите по ссылке ниже для того, чтобы восстановить Ваш пароль.</p>

<p><%= link_to t('auth.recover_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не теряли свой пароль, пожалуйста, проигнорируйте это письмо</p>
<p>Ваш пароль не измениться до тех пор, пока вы не перейдете по ссылке Выше и не укажите новый</p>
